* 
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'DM Sans', sans-serif
.App
  position: relative
  width: 100%
.test
  position: absolute
  background: red
  left: 0
  top: 100px
  margin-left: 200px
.container
  position: relative
  width: 100%
.flex-row
  display: flex
@import home/home.sass